<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.eventday %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Image:</strong>
    <% if @event.status == false %>
          <%= image_tag "/images/#{@event.image.to_s.split('/')[5]}", :class=> "rcard-img-top",:size => '300x250'%>
    <% else %>
           <%= image_tag  event.image , :class=> "rcard-img-top",:size => '300x250' %>
    <% end %>
</p>

<%= link_to 'Back', events_path %>
