<%= render 'shared/header' %>
<div id="carouselExampleIndicators" class="carousel slide showcarousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <% if @event.status == false %>
          <%= image_tag "/images/#{@event.image.to_s.split('/')[5]}", :class=> "d-block w-100",:size => '300x250'%>
      <% else %>
           <%= image_tag  @event.image , :class=> "d-block w-100",:size => '350x250' %>
      <% end %>
    </div>
    <% if @event.pics.present? %>
      <div class="carousel-item">
        <%= image_tag  @event.pics.first.subimage , :class=> "d-block w-100",:size => '350x250' %>
      </div>
    <% end %>
    <% if @event.pics.second.present? %>
      <div class="carousel-item">
        <%= image_tag  @event.pics.second.subimage , :class=> "d-block w-100",:size => '350x250' %>
      </div>
    <% end %>
    <% if @event.pics.third.present? %>
      <div class="carousel-item">
        <%= image_tag  @event.pics.third.subimage , :class=> "d-block w-100",:size => '350x250' %>
      </div>
    <% end %>
    <% if @event.pics.fourth.present? %>
      <div class="carousel-item">
        <%= image_tag  @event.pics.fourth.subimage , :class=> "d-block w-100",:size => '350x250' %>
      </div>
    <% end %>
    <% if @event.pics.fifth.present? %>
      <div class="carousel-item">
        <%= image_tag  @event.pics.fifth.subimage , :class=> "d-block w-100",:size => '350x250' %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr>
<div class = "event_contents_wrapper">
  <p>
    <strong class = "event_title_showpage"><%= @event.name %></strong>
  </p>
<hr>
  <p class = "event_date_showpage">
    <strong>Date:</strong>
    <%= @event.eventday.month %>月<%= @event.eventday.day %>日
  </p>
<hr>
  <p class = "event_date_showpage">
    <strong>Place:</strong>
    <%= @event.place %>
  </p>
  <p class = "event_date_showpage">
    <strong>住所:</strong>
    <%= @event.address %>
  </p>
<hr>
  <p class = "event_date_showpage">
    <strong>詳細:</strong>
    <%= @event.detail %>
  </p>
</div>
